@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
    font-family: Source Sans Pro;
    padding-top: 120px;
    color: rgba(0,0,0,.8);
    background: #fff;
}

a {
    color: rgba(0,0,0,.8);
    transition: all .2s;

    &:hover {
        color: #03b988;
        text-decoration: none;
    }
}

.home {
    padding-top: 0 !important;
    background-image: url("../img/bg_1.webp");
    background-attachment : fixed;
    background-position   : 50% 50%;     /* or: center center */
    background-size       : cover;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .7;
        background: #fff;
        z-index: 0;
    }

    .wrap-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
    
        .main-title {
            color: #fff;
            z-index: 1;

            img {
                width: 30%;
                height: 30%;
                border-radius: 100%;
                background: #dcdcdc;
                border: 3px solid #dcdcdc;
            }

            h1{
                font-size: 3rem;
                font-family: "Poppins", Arial, sans-serif;
                color: rgba(0, 0, 0, 0.7);
            }
            
            p.subtitle {
                font-size: 1.7rem;
                color: #999999;
            }

            
        }
    }

    .social {
        position: fixed;
        bottom: 50px;
        width: 100%;
        margin: 0 auto;
        font-size: 1.4em;
        text-align: center;
        opacity: .8;

        a {
            color: #555;
            text-decoration: none;
            border: none;
            transition-property: color;
            transition-duration: .4s;
            transition-timing-function: ease-out;
            padding: 0 1.2rem;

            &:hover{
                color:#999999;
                text-shadow:0 0 1px #999999;
            }
        }
    }
}

@media (max-width: 767px) {
    .main-title{
        h2{
            font-size: 3rem;
        }
        p.subtitle {
            font-size: 1rem;
        }
    }
}

/* ================= Navbar ================= */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 0 1rem;

    .scrolled &{
        background: rgb(255,255,255) !important;
        color: #333 !important;
        box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.06) !important;
        --contentColor: #000!important;

        .navbar-brand{
            font-size: 12px
        }
    }

    .navbar-toggler {
        border: none;
        padding-right: 0;
    }
    
    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
    }
    
    .navbar-toggler-icon {
        width: 24px;
        height: 17px;
        background-image: none;
        position: relative;
        border-bottom: 1px solid #000;
        transition: all 300ms linear;
    }
    
    .navbar-toggler-icon:after, 
    .navbar-toggler-icon:before{
        width: 24px;
        position: absolute;
        height: 1px;
        background-color: #000;
        top: 0;
        left: 0;
        content: '';
        z-index: 2;
        transition: all 300ms linear;
    }
    
    .navbar-toggler-icon:after{
        top: 8px;
    }
    
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
        transform: rotate(45deg);
    }
    
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
        transform: translateY(8px) rotate(-45deg);
    }
    
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        border-color: transparent;
    }
    
    .navbar-brand {
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        text-decoration: none;
        color: #000 !important;
        padding:{
            top: .8125rem;
            bottom: .8125rem;
        }
        
        h1 {
            margin: 0;
            font-weight: 700;
            font-size: 1.8em;
            color: var(--contentColor, #000);
        }
    }
    
    .navbar-nav {
        .nav-item {
            padding: {
                top: .5rem;
                bottom: .6rem;
            };
            
            .nav-link {
                padding:{
                    right: 1rem;
                    left: 1rem;
                };
                color: #000;
                
                &:hover {
                    color: #000;
                }
            }
        }
        
        .active {
            border-bottom: 2px solid #000;
        }
    }
    
    .search-box{
        input {
            height: 2rem !important;
            border-right-color: transparent !important;
            
            &:focus {
                box-shadow: none;
                border-color: #ced4da;
                border-right-color: transparent !important;
            }
        }
        
        button {
            height: 2rem !important;
            width: 30px !important;
            background: #fff;
            border-color: #ced4da;
            border-left: none;
            padding: 0 0 0 8px;
            
            &:hover, &:focus, &:active, &:active:focus:not(:disabled):not(.disabled) {
                color: #6c757d;
                background: #fff;
                border-color: #ced4da;
                border-left: none;
                box-shadow: none;
            }
        }
    }
    
    .navbar-toggler {
        color: #000;
    }
    
}

@media (max-width: 992px) {
    .navbar-collapse {
        background: #fff !important;
        position: absolute;
        top: 50px;
        left: 100%;
        padding: 50px 15px 15px 15px;
        width: 100%;
        transition: all 0.3s ease;
        display: block;
        height: 100vh;

        .navbar-nav {
            .active {
                border-bottom: none;
            }
        }

        .search-box {
            margin-top: 50px;
        }
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
}

/* ================ Post Item =============== */
.post-item {
    border-radius: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    .card-container {
        margin-bottom: 30px;

        .card {
            border-radius: 0;
            border: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;

            .card-header-image {
                display: block;
                // margin: -20px -20px 0 -20px;
            
                img {
                    object-fit: cover;
                    object-position: top;
                    height: 180px;
                    width: 100%;
                    cursor: pointer;
                    background: #dcdcdc;
                }
            }

            .card-inside {
                margin-bottom: 10px;

                .heading {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 1.26;
                    cursor: pointer;
                    transition: all .2s;
                    color:inherit;
                    margin-top: 20px;
                    
                    &:hover {
                        color: #03a87c;
                        text-decoration:none;
                    }
                }
            }
        }
    }
}

/* ================= Avatar ================= */
.avatar {
    .d-flex {
        .profile-avatar {
            display: block;
            padding-right: 10px;

            .avatar-image {
                width: 40px;
                height: 40px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 100%;
                background: #dcdcdc;
            }
        }

        .username {
            color: rgba(0, 0, 0, 0.8);
            font-size: 13px;
            margin-top:-10px;
        }
    }

    .date {
        color: rgba(0, 0, 0, 0.44);
        font-size: 13px;
        margin-left: 50px;
        margin-top: -20px;
    }
}

/* =============== Pagination =============== */

.pagination{
    flex-wrap: wrap;
    border-radius: none !important;
    
    .page-item {
        outline: none;

        .page-link {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #000;
            background-color: #FFF;
            border:{
                top: none !important;
                left: none !important;
                right: none !important;
                bottom: 1px solid #ddd;
            }
            font-size: 15px;
            font-weight: 700;
            
            &:focus, &:hover {
                color: #03b988;
                text-decoration: none;
                background-color: #FFF;
                border-color: #03b988;
            }
        }
    }

    .page-item.disabled .page-link {
        color: #ddd;
        pointer-events: none;
        cursor: auto;
    }
    
    .page-item.active .page-link {
        z-index: 1;
        color: #03b988;
        background: #FFF;
        border-bottom: 1px solid #03b988;
    }
}

/* ================ Article ================= */
.article {
    .article-head {
        font-family: Merriweather;
        line-height: 1.3;
        font-weight: 500;
    }
    
    img {
        max-width: 100%;
        background: #dcdcdc;
    }
    
    .content__default {
        font-family: Merriweather;
        font-size: 18px;
        line-height: 1.9;
        
        p, pre, iframe, img, div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"] {
            margin-top: 1.2em;
            margin-bottom: 1.2em;
            
            p:first-of-type{
                margin-top: 0;
            }
            
            h1{
                font-weight: 700;
            }
            
            h1, h2, h3, h4, h5, h6 {
                font-weight: 600;
                font-family: Source Sans Pro;
                margin-top: 1.5em;
                margin-bottom: .5em;
            }
        }
    }

    .card-subheading.post-meta-tags a{
        font-size: 16px;
        background: #eee;
        padding:5px 10px;
        margin-right:10px;
        color:#333;
        &:after {
            content:'';
        }

        &:hover {
            background: #d0d0d0;
        }
    }
}

/* ================= Footer ================= */
.footer {
    padding: 60px 30px;
    text-align: center;
}

/* ============== 404 Notfound ============== */
#notfound {
    height: 55vh;

    .notfound{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 920px;
        width: 100%;
        line-height: 1.4;
        text-align: center;
        padding:{
            left: 15px;
            right: 15px;
        }
        
        .notfound-404{
            position: absolute;
            height: 100px;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;

            h1{
                font-family: 'Maven Pro', sans-serif;
                color: #ececec;
                font-weight: 900;
                font-size: 30vw;
                margin: 0px;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        h2 {
            font-family: 'Maven Pro', sans-serif;
            font-size: 46px;
            color: #000;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0px;
        }

        p{
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            color: #000;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 15px;
        }

        a{
            font-family: 'Maven Pro', sans-serif;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            background: #189cf0;
            display: inline-block;
            padding: 14 38px;
            border: 2px solid transparent;
            border-radius: 40px;
            color: #fff;
            font-weight: 400;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;

            &:hover{
                background-color: #fff;
                border-color: #189cf0;
                color: #189cf0;
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .notfound{
        .notfound-404{
            h1{
                font-size: 162px;
            }
        }

        h2{
            font-size: 26px;
        }
    }
}

/* ================= To Top ================= */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    box-shadow:0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;

    i {
        color: #03b988;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    &:hover {

        i {
            top: 5px;
        }
    }
}

@media (max-width: 992px) {
    #return-to-top {
        display: none !important;
    }
}